.new-tweet {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #3a3a3a;
}

#tweetText:focus {
  outline: none;
}

textarea {
  background: transparent;
  border: 0;
  border-bottom: 5px solid #5a5a5a;
  padding-bottom: 5px;
  width: 100%;
  resize: none;
}

textarea::placeholder {
  font-weight: 600;
}

.tweet-button{
  background-color: #303470;
  font-family: "Bungee", sans-serif;
  color: #ffffff;
  padding: 3px 13px;
}

.tweet-error {
  display: inline-block;
  margin-bottom: 15px;
  padding: 5px 20px;
  width: 100%;
  background-color: #f44336;
  color: #ffffff;
  font-size: 0.7em;
}

.hidden {
  display: none;
}

.counter{
  font-family: "Bungee", sans-serif;
  float: right;
  color: #5a5a5a;
}

.counter.invalid {
  color: #e41b1b;
}