.new-tweet {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #3a3a3a;
}

textarea{
  background: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 5px solid #5a5a5a;
  padding-bottom: 5px;
  width: 100%;
  resize: none;
}

textarea::placeholder {
  font-weight: 600;
}

.tweet-button{
  background-color: #303470;
  font-family: "Bungee", sans-serif;
  color: #ffffff;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 13px;
  padding-right: 13px;
}

.counter{
  font-family: "Bungee", sans-serif;
  float: right;
  color: #5a5a5a;
}