article {
  border: 5px solid #5a5a5a;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 40px;
}

article:hover {
  box-shadow: 10px 10px #9398e460; 
}

article:hover > header > .handle{
  display: block;
}

article .tweet-body{
  display: block;
  padding: 40px 20px;
  color: #696969;
}

article header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

article header .avatar-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

article header img{
  margin: 0.5em;
  width: 70px;
  height: auto;
}

article .name {
  font-weight: lighter;
}

article .handle {
  color: #9398e460;
  padding-right: 20px;
  display: none;
}

article footer {
  border: 0;
  border-top: 5px solid #5a5a5a;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  font-size: 75%;
}

article footer span:nth-child(2){
  color: #303470;
}

article footer span i{
  padding: 0.2em;
}